@font-face {
    font-family: fonky-font;
    src: url(fonts/KaushanScript-Regular.woff2);
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.side-panel{
    height: 100vh;
    width: 600px;
}
#background-image{
    position: absolute;
    height: 100vh;
    width: 600px;
    z-index: -1;
}
#credit{
    margin-top: 97vh;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}
a:visited{
    color: white;
}

.sign-up-panel{
    height: 100vh;
    width: calc(100vw - 600px);
    background-color: rgba(211, 211, 211, 0.5);
    padding: 50px;
}
.logo-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 45vh;
    width: 600px;
    height: 150px;
    background-color: rgba(128, 128, 128, 0.5);
}
h1.logo-text{
    font-family: fonky-font, sans-serif;
}
section{
    display: flex;
    flex-flow: column;
    background-color: rgba(248, 248, 248, 0.5);
    box-shadow: 0px 5px 10px 5px darkgray;
    padding-left: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.row{
   display: flex;
   flex-flow: row; 
}
p{
    display: flex;
    flex-flow: column;
    padding-right: 20px;
}

.button{
    margin-top: 10px;
    background-color: #596D48;
    color: white;
    padding: 11px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 10px 5px darkgray;
}
p.log-in{
    display: flex;
    flex-flow: row;
}
p>a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}
input{
    padding: 3px;
    border: 1px solid darkgray;
    border-radius: 5px;
}
input:focus{
    border: 5px solid lightblue;
}
input#pwd:invalid,
input#confirm-pwd:invalid{
    border: 1px solid coral;
}

